
@font-face {
    font-family: mainFont;
    src: url(/static/aptos.ttf);
  }

*{
    font-family: mainFont;
}

html, body{
    margin: 0;
    top: 0;
    left: 0;
    height: 100%;
    background-color: black;
}

.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    top: 0;
    left: 0;    
    height: 100%;
    width: 100%;
    background-color: white;
}

.main-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: .80;
}

.main-background{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.main-background-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    flex: 1;
    opacity: 0;

}

.main-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
}   

.banner-item{
    margin: 10px;
}

.main-logo{
    opacity: 0%;
    animation: intro-logo .5s ease-in-out .5s;
    animation-fill-mode: forwards; 
}

.main-slogan{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgba(0, 0, 0, .75);
    
}

.slogan{
    width: 0vw;
    opacity: 0%;
    font-size: 2.5rem;
    display: flex;
    justify-content: end;
    align-items: center;
    
}

#slogan-1{
    animation: intro-slogan .5s ease-in-out 1s;
    animation-fill-mode: forwards; 
}

#slogan-2{
    animation: intro-slogan .5s ease-in-out 1.5s;
    animation-fill-mode: forwards; 
}

#slogan-3{
    animation: intro-slogan .5s ease-in-out 2s;
    animation-fill-mode: forwards; 
}

.main-title{
    width: 0vw;
    overflow: hidden;
    animation: intro-title .75s ease-in-out 2.5s;
    animation-fill-mode: forwards;
}

.main-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    background-color: black;
    height: 0vh;
    animation: intro-nav .75s ease-in-out 3.25s;
    animation-fill-mode: forwards;
    overflow: hidden;

}

.nav-item{
    display: flex;
    font-size: 2rem;
    color: white;
    background-color: black;
    transition: .25s ease-in-out;
    cursor: pointer;
    padding: 5px;
    flex: 1;
    justify-content: center;
}

.nav-item:hover{
    background-color: white;
    color: black;
    transition: .1s ease-in-out;
}

.main-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    height: 0;
    width: 80%;
    background-color: rgba(0, 0, 0, .75);
    transition: .5s ease-in-out;
    flex-direction: column; 
    margin-top: 20px;
    padding: 2% 2% 2% 2%;
}

.content-window{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    height: 0;
    transition: .5s ease-in-out;
    color: white;
    font-size: 1.5rem;
    overflow: hidden;
    width: 100%;
}

.content-window-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: text-top;
    margin: 0 1% 1% 1%;
    color: rgba(255, 255, 255, .75);

}

.content-window-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/static/bike2.webp);
    background-position: 30%;
    background-size: cover;
    min-width: 50%;
    height: 100%;
}   

#bk-img-1{
    animation: fadeInLess .5s ease-in-out 3s;
    animation-fill-mode: forwards;
}

#bk-img-2{
    animation: fadeInLess .5s ease-in-out 3.25s;
    animation-fill-mode: forwards;  
}

#bk-img-3{
    animation: fadeInLess .5s ease-in-out 3.5s;
    animation-fill-mode: forwards;
}

#bk-img-4{
    animation: fadeInLess .5s ease-in-out 3.75s;
    animation-fill-mode: forwards;
}

.footer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color:white;
    height: 30vh;
    width: 100%;
    top: 100%;
    flex-direction: column;
}
@media only screen and (max-width: 1400px){

    .main-slogan{
        flex-direction: column;
        height: fit-content;

    }

    .slogan{
        justify-content: center;
    }

    #slogan-1{
        animation: none;
        opacity: 100%;
    }

    #slogan-2{
        animation: none;
        opacity: 100%;
    }

    #slogan-3{
        animation: none;
        opacity: 100%;
    }
    
    .main-logo{
        animation: none;
        opacity: 100%;
    }

    .main-banner{
        flex-direction: column;
        height: auto;
    }

    .main-hero{
        opacity: 0%;
        animation: intro-logo 1s ease-in-out .25s;
        animation-fill-mode: forwards;
    }

    .main-title{
        display: none;
    }

    .main-nav{
        flex-direction: column;
        animation: none;
        opacity: 100%;
        height: auto;
    }

    .nav-item{
        padding: 5% 0 5% 0;
    }

}

@keyframes intro-logo {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes intro-slogan {
    0%{
        width: 0vw;
        opacity: 0%;
    }
    100%{
        width: 14rem;
        opacity: 100%;
    }
}

@keyframes intro-title {
    0%{
        width: 0vw;
    }
    100%{
        width: 100%;
    }
    
}

@keyframes intro-nav {
    0%{
        height: 0vh;
    }
    100%{
        height: 3rem;
    }
    
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes fadeInLess {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 50%;
    }
}

.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: rgba(255, 255, 255, .75);
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

header {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #726659;
  
  border: solid 1px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 1px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  width: 502px;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}